<div>
    <section data-topic="country">
        <!--<div class="row">
            <div class="col-sm-12" id="partner-matrix-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}}/{{by-recipient}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="partner-matrix"></div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-12" id="top-partners-fao-oda-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners-fao-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners-fao-oda"></div>
                </div>
            </div>
           <!-- <div class="col-sm-6" id="top-channel-categories-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-partners-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-fao-partners-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-fao-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-fao-partners"></div>
                </div>
            </div>
        </div>
    </section>
    <section data-topic="donor">
       <!-- <div class="row">
            <div class="col-sm-12" id="partner-matrix-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}}/{{by-partner}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                  <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="partner-matrix"></div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-12" id="top-recipients-fao-oda-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-recipients-fao-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients-fao-oda"></div>
                </div>
            </div>
            <!--<div class="col-sm-6" id="top-channel-categories-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-recipients-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-fao-recipients-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-fao-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-fao-recipients"></div>
                </div>
            </div>
        </div>
    </section>
    <section data-topic="country-donor">
       <!-- <div class="row">
            <div class="col-sm-12" id="partner-matrix-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="partner-matrix"></div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-12" id="tot-fao-oda-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{tot-fao-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-fao-oda"></div>
                </div>
            </div>
        </div>
      <!--  <div class="row">
            <div class="col-sm-12" id="top-channel-categories-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>
        </div>-->
    </section>
</div>
