<div>
<section data-topic="country">
    <div class="row">
        <div class="col-sm-12" id="partner-matrix-container">
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}} / {{by-recipient}}</b>:</span> {{label}}</p></div>
            <div class="obj-box">

                <div data-item="partner-matrix"></div>
            </div>
        </div>
    </div>
</section>
    <section data-topic="donor">
        <div class="row">
            <div class="col-sm-12" id="partner-matrix-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}} / {{by-partner}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">

                    <div data-item="partner-matrix"></div>
                </div>
            </div>
        </div>
    </section>

    <section data-topic="country-donor">
        <div class="row">
            <div class="col-sm-12" id="partner-matrix-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{partner-matrix}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">

                    <div data-item="partner-matrix"></div>
                </div>
            </div>
        </div>
    </section>
</div>