<div class="row">

    <div class="col-xs-12">

        <div id="table-filter"></div>

        <div id="table-description">
            <p>
                <span id="table-description">{{comp_advantage_desc_1}}</span>
                <span id="table-read-more">{{comp_advantage_desc_5}}</span>
               <!-- <span id="table-read-more">{{comp_advantage_desc_2}} <a href="{{path}}" target="_blank">{{comp_advantage_desc_3}}</a>.</span>-->
            </p>
        </div>

        <div id="table-info" class="collapse">
           <p><b><span>{{rowsFound}}:</span> <span id="table-size"></span></b></p>
        </div>

        <table id="table" data-search="true" data-pagination="true" data-undefined-text="">
                <thead>
                    <tr>
                        <th id="col1" data-sortable="true" data-width="20%"></th>
                        <th id="col2" data-sortable="true" data-width="10%"></th>
                        <th id="col3" data-sortable="true" data-width="15%"></th>
                        <th id="col4" data-sortable="true" data-width="15%"></th>
                        <th id="col5" data-sortable="true" data-width="15%"></th>
                        <th id="col6" data-sortable="true" data-width="15%"></th>
                        <th id="col7" data-sortable="true" data-width="10%"></th>
                    </tr>
                </thead>
        </table>

    </div>
</div>

