<div class="btn-group pull-right" id="{{id}}-download-options" role="group">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" class="btn btn-default dropdown-toggle" title="{{download_options}}" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li class="dropdown-header">{{download_data}}</li>
            <li><a href="#" id="{{id}}-excel" data-type="excel" data-model-id="{{id}}">{{excel}}</a></li>

            {{#ifCond this.type 'indicators'}}
                <li class="dropdown-header">{{download_indicators}}</li>
                <li><a href="#" id="{{id}}-png" data-type="image/png"  data-model-id="{{id}}">{{png}}</a></li>
                <li><a href="#" id="{{id}}-jpeg" data-type="image/jpeg"  data-model-id="{{id}}">{{jpeg}}</a></li>
            {{/ifCond}}

            {{#ifCond this.type 'chart'}}
                <li class="dropdown-header">{{download_chart}}</li>
                <li><a href="#" id="{{id}}-png" data-type="image/png"  data-model-id="{{id}}">{{png}}</a></li>
                <li><a href="#" id="{{id}}-jpeg" data-type="image/jpeg"  data-model-id="{{id}}">{{jpeg}}</a></li>
                <li><a href="#" id="{{id}}-svg" data-type="image/svg+xml" data-model-id="{{id}}">{{svg}}</a></li>
                <li><a href="#" id="{{id}}-pdf" data-type="application/pdf"  data-model-id="{{id}}">{{pdf}}</a></li>
            {{/ifCond}}
        </ul>
    </div>

    {{#ifNot this.type 'map'}}
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-print" id="{{id}}-print" data-type="print" data-model-id="{{id}}"></span>
        </button>
    {{/ifNot}}

</div>
