<div>
        <div class="row">
            <div class="col-xs-12" id="top-partners-container">
                <div>
                    {{> ../partials/download-menu-partial type='chart' id='top-partners'}}
                </div>
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="financing-priorities-partners-container">
                <div>
                    {{> ../partials/download-menu-partial type='chart' id='financing-priorities-partners'}}
                </div>
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="financing-priorities-partners"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="top-recipients-container">
                <div>
                    {{> ../partials/download-menu-partial type='chart' id='top-recipients'}}
                </div>
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="financing-priorities-recipients-container">
                <div>
                    {{> ../partials/download-menu-partial type='chart' id='financing-priorities-recipients'}}
                </div>
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{financing-priorities-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="financing-priorities-recipients"></div>
                </div>
            </div>
        </div>
</div>
