<div>
    <!-- Priorities Table -->
    <div class="row">
        <div class="col-xs-12" id="priority-table-container">
            <div>
            {{> ../partials/download-menu-partial type='table' id='priorities-table'}}
           </div>
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{priorities-table}}</b></span></p></div>
            <div class="obj-box">
                <div data-item="priorities-table"></div>
            </div>
        </div>
    </div>
    <!-- Venn Diagram -->
    <div class="row">
        <div class="col-xs-12" id="venn-diagram-container">
            <div>
                {{> ../partials/download-menu-partial type='venn' id='venn-diagram'}}
            </div>
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{venn-diagram}}</b></span></p></div>
            <div class="obj-box">
                <div class="row">
                    <div class="col-xs-12">
                        <p  class="align-center">
                            <span>{{venn-diagram-info}}</span>
                        </p>
                     </div>
                </div>
             <div class="row">
                <div class="col-xs-12">
                    <center>
                    <div data-item="venn-diagram"></div>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="venn-diagram-info-box">
                        <p>
                            <span id="venn-diagram-title"></span>
                        </p>
                        <textarea readonly id="venn-diagram-info" wrap="off" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>