<div>
    <section data-topic="sector">
        <div class="row">
            <div class="col-sm-12 collapse" id="tot-oda-container"> <!-- TOTAL ODA: collapsed (i.e. hidden) by default via collapse class -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                 <div class="obj-box">
                     <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                     <div data-item="tot-oda"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="tot-oda-sector-container"> <!-- TOTAL ODA SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-sector"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 collapse" id="tot-oda-subsector-container"> <!-- TOTAL ODA SUB SECTOR: collapsed (i.e. hidden) by default via collapse class -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-subsector"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-partners-container"> <!-- TOP RESOURCE PARTNERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-partners-others-container"> <!-- TOP RESOURCE PARTNERS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-partners-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- TOP PARTNERS for the ALL SECTORS SELECTED VIEW: only difference is the size sm-12 vs sm-6 -->
            <div class="col-sm-12 collapse" id="top-partners-all-sectors-container"> <!-- TOP PARTNERS collapsed (i.e. hidden) by default via collapse class -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners-all-sectors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- TOP RECIPIENTS -->
          <div class="col-sm-6" id="top-recipients-container">
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-recipients-others-container"><!-- TOP RECIPIENTS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-recipients-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- TOP RECIPIENTS for the ALL SECTORS SELECTED VIEW: only difference is the size sm-12 vs sm-6 -->
        <div class="col-sm-12 collapse" id="top-recipients-all-sectors-container"> <!-- TOP RECIPIENTS collapsed (i.e. hidden) by default via collapse class -->
            <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
            <div class="obj-box">
                <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                <div data-item="top-recipients-all-sectors"></div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="top-channel-categories-container"><!-- TOP CHANNEL CATEGORIES -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 collapse" id="top-sectors-container"> <!-- TOP SECTORS collapsed (i.e. hidden) by default via collapse class -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="top-subsectors-container"><!-- TOP SUB SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-subsectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-subsectors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="oda-regional-container"> <!-- ODA REGIONAL DISTRIBUTION  -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{oda-regional}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="oda-regional"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="country-map-container"> <!-- COUNTRY DISTRIBUTION - MAP  -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{country-map}}</b>:</span> {{label}}</p></div>

                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div style="height:400px" data-item="country-map"></div>
                </div>
            </div>
        </div>
    </section>
    <section data-topic="country">
        <div class="row">
            <div class="col-sm-12" id="tot-oda-container"> <!-- TOTAL ODA -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 collapse" id="tot-oda-sector-container"> <!-- TOTAL ODA SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-sector"></div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- tot-oda-subsector-container container hidden via collapse class -->
            <div class="col-sm-12 collapse" id="tot-oda-subsector-container"> <!-- TOTAL ODA SUB SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-subsector"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-sectors-container"> <!-- TOP SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-sectors-others-container"> <!-- TOP SECTORS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-partners-container"> <!-- TOP RESOURCE PARTNERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-partners}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-partners-others-container"> <!-- TOP RESOURCE PARTNERS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-partners-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-partners-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-channel-categories-container"><!-- TOP CHANNEL CATEGORIES -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-subsectors-container"><!-- TOP SUB SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-subsectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-subsectors"></div>
                </div>
            </div>
        </div>
        <!-- TOP SECTORS -->
        <!-- <div class="row">
              <div class="col-sm-12" id="top-sectors-container">
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
                 <div class="obj-box">
                 <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors"></div>
                </div>
            </div>-->
           <!-- TOP SECTORS VS OTHER SECTORS  -->
         <!--<div class="col-sm-12" id="top-sectors-others-container">
               <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
               <div class="obj-box">
               <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                   <div data-item="top-sectors-others"></div>
               </div>
           </div>
        </div>-->
        <div class="row">
            <div class="col-sm-12" id="regional-map-container"> <!-- COUNTRY DISTRIBUTION - MAP  -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{regional-map}}</b>:</span> {{label}}</p></div>

                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div style="height:400px" data-item="regional-map"></div>
                </div>
            </div>
        </div>

    </section>
    <section data-topic="donor">
        <!-- TOTAL ODA/GNI -->
       <div class="row">
            <div class="col-sm-12" id="tot-oda-gni-container">
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda-gni}}</b></span></p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-gni"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="tot-oda-container"> <!-- TOTAL ODA -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b> {{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 collapse" id="tot-oda-sector-container"> <!-- TOTAL ODA SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-sector"></div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- tot-oda-subsector-container container hidden via collapse class -->
            <div class="col-sm-12 collapse" id="tot-oda-subsector-container"> <!-- TOTAL ODA SUB SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-subsector"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" id="top-recipients-container"><!-- TOP RECIPIENTS -->
                <div class="obj-box-header">
                    <p title="{{label}}"><span class="display-box-header"><b>{{top-recipients}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-recipients-others-container"><!-- TOP RECIPIENTS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-recipients-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-recipients-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-sectors-container"> <!-- TOP SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors"></div>
                </div>
            </div>
            <div class="col-sm-6" id="top-sectors-others-container"> <!-- TOP SECTORS VS OTHERS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors-others}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors-others"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-channel-categories-container"><!-- TOP CHANNEL CATEGORIES -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>
            <div class="col-sm-6 collapse" id="top-subsectors-container"><!-- TOP SUB SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-subsectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-subsectors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="oda-regional-container"> <!-- ODA REGIONAL DISTRIBUTION  -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{oda-regional}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="oda-regional"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="regional-map-container"> <!-- COUNTRY DISTRIBUTION - MAP  -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{country-map}}</b>:</span> {{label}}</p></div>

                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div style="height:400px" data-item="country-map"></div>
                </div>
            </div>
        </div>
    </section>
    <section data-topic="country_donor">
        <div class="row">
            <div class="col-sm-12" id="tot-oda-container"> <!-- TOTAL ODA -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 collapse" id="tot-oda-sector-container"> <!-- TOTAL ODA SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-sector"></div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- tot-oda-subsector-container container hidden via collapse class -->
            <div class="col-sm-12 collapse" id="tot-oda-subsector-container"> <!-- TOTAL ODA SUB SECTOR -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{tot-oda}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="tot-oda-subsector"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="top-channels-container"><!-- TOP CHANNELS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-channels}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-channel-categories"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="top-sectors-container"> <!-- TOP SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-sectors"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" id="top-sectors-container"> <!-- TOP SECTORS -->
                    <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-sectors-others}}</b>:</span> {{label}}</p></div>
                    <div class="obj-box">
                        <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                        <div data-item="top-sectors-others"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 collapse" id="top-subsectors-container"><!-- TOP SUB SECTORS -->
                <div class="obj-box-header"><p title="{{label}}"><span class="display-box-header"><b>{{top-subsectors}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div class="obj-box-info"><p><b>{{hover_values}}</b></p></div>
                    <div data-item="top-subsectors"></div>
                </div>
            </div>
        </div>
    </section>
</div>
